main{
    margin: 2em 20%;
}
article {
    border: 2px solid red;
    color: white;
}
#bigPosts {
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
    color: white;
}
h3 {
    font-size: 26px;
}
h3, p{
    padding: 0 3rem;
    color: white;
}
#footer {
    display: flex;
    border-top: 1px solid red;
    justify-content: space-between;
}
.msg {
    text-align: center;
    font-size: 25px;
}
.video, .image{
    max-width: 95%;
    max-height: 70vh;
}
.link {
    color: rgb(158, 158, 158);
    font-style: italic;
}
.img-article, .vid-article{
    text-align: center;
}