main{
    margin: 0 20%;
}
article {
    border: 2px solid red;
    color: white;
}
h3 {
    font-size: 26px;
}
h3, p{
    padding: 0 3rem;
    color: white;
}
#footer {
    display: flex;
    border-top: 1px solid red;
    justify-content: space-between;
}
.msg {
    text-align: center;
    font-size: 25px;
}
.video, .image{
    max-width: 95%;
    max-height: 70vh;
}
.link {
    color: rgb(158, 158, 158);
    font-style: italic;
}
.img-article, .vid-article{
    text-align: center;
    margin-bottom: 2em;
}


.App {
    text-align: center;
    border-bottom: 2px solid red;
    width: 100%;
    margin-bottom: 2em;
}
#reddit-mini {
    color: white;
}
nav, .click  {
    background-color: #1c1c1c;
    padding: 0.5em;
    display: flex;
    align-items: center;
    text-decoration: none;
}
nav input {
    height: 2rem; 
    width: 80%;  
    border-radius: 100px;
    margin-right: 5%
}
.click h1 {
    padding-right: 1em;
}
.click img {
    height: 80px;
    padding-right: 0.5em;
}
.click:hover{
    cursor: pointer;
}